<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog_detail</title>
</head>
<body>
    <a href="/blog/list/">Retour au sommaire</a>
    <a href="{% url 'blog-detail-edit'  slug=object.slug %}">editer</a>
    <a href="{% url 'blog-detail-delete'  slug=object.slug %}">delete</a>
    <h1>Blog_detail</h1>
    <h1>{{ object.title }}</h1>
    <p>{{ object.content }}</p>
    <p>Published: {{ object.date|date }}</p>
</body>
</html>